<div class="container">
    <mat-toolbar>
        <span>Crear Usuario</span>
     </mat-toolbar>

     <mat-card style="margin-top: 10px;" >

        <form [formGroup]="form" (ngSubmit)="agregarUsuario()">
          <mat-grid-list cols="1" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="ancho">
                <mat-label>Nombre de Usuario</mat-label>
                <input matInput autocomplete="off" formControlName="username">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="1" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="ancho">
                <mat-label>Contraseña:</mat-label>
                <input matInput type='password' autocomplete="off" formControlName="password">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="1" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="ancho">
                <mat-label>Nombre</mat-label>
                <input matInput autocomplete="off" formControlName="nombre">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="1" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="ancho">
                <mat-label>Correo</mat-label>
                <input matInput autocomplete="off" formControlName="correo">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="1" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="ancho">
                <mat-label>Seleccione tipo de usuario</mat-label>
                <select matNativeControl  formControlName="tipo">
                  <option value="Administrador" selected>Administrador</option>
                  <option value="Cliente">Cliente</option>
                  <option value="Proveedor">Proveedor</option>
                </select>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="1" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="ancho">
                <mat-label>Seleccione Rol</mat-label>
                <select matNativeControl  formControlName="role">
                  <option value="Administrador" selected>Administrador</option>
                  <option value="Usuario">Usuario</option>
                  <option value="Proveedor">Proveedor</option>
                </select>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="1" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">

              <mat-form-field class="ancho">
                <mat-label>Seleccione un Idioma</mat-label>
                <select matNativeControl  formControlName="idioma">
                  <option value="Esp" selected>Espa&ntilde;ol</option>
                  <option value="Ing" >Ingles</option>
                </select>
              </mat-form-field>

            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="1" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-raised-button style="margin-right: 40px;">Cancelar</button>
                <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Guardar</button>
            </mat-grid-tile>
          </mat-grid-list>
        </form>

     </mat-card>
</div>
