mat-toolbar{
    background-color:darkblue;
    color: black;
}
mat-sidenav-container{
  height: calc(100vh - 65px);
}
mat-sidenav{
  margin: 2px;
  width: 200px;
  //border-right: none;
  background-color:white;
  color: black;
  border-radius: 10px;
  padding: 16px;
  text-align: left;
}
.avatar {
  margin-top: 5px;
  width: 150px;
  border-radius: 20%;
  background-color: black;
}

.titulo{
    margin-top: 8px;
    font-weight: normal;
    color: darkblue;
}
.menu-button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  mat-icon, span, a{
    margin-right: 8px;
    color: darkblue;
  }
}

.content{
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  font-size: 2rem;
  color: lightgray ;
}

mat-divider{
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: darkorange;

}

mat-sidenav-content{
  height: calc(100vh - 65px); 
}