<router-outlet></router-outlet>
<!--
<router-outlet></router-outlet>
  ------<app-login></app-login>
<mat-toolbar >
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (ckick)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <img class="avatar mat-elevation-z8" src="assets/freightsenseglobal-logo.png" alt="">
</mat-toolbar>

<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav="matSidenav" mode="side" opened>


    
    
    <p class="titulo">Configuraci&oacute;n</p>
    <mat-divider></mat-divider>
    
    <button mat-flat-button class="menu-button">
      <mat-icon>settings</mat-icon>
      <span>Roles</span>
    </button>
    
    <button mat-flat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Usuarios</span>
    </button>

    <button mat-flat-button class="menu-button">
      <mat-icon>language</mat-icon>
      <span>Idioma</span>
    </button>

    <mat-divider></mat-divider>
    <button mat-flat-button class="menu-button">
      <mat-icon>logout</mat-icon>
      <span>Salir</span>
    </button>
    
  </mat-sidenav>


  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      Main Content
    </div>

  </mat-sidenav-content>



</mat-sidenav-container>

-->