<div class="container">
    <mat-toolbar>
        <span>Usuarios</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary" routerLink="/dashboard/crear-usuario" routerLinkActive="router-link-active" >Agregar</button>

     </mat-toolbar>

     <div *ngIf="listaUsuarios.length>0">
        <mat-form-field>
           <mat-label>Filter</mat-label>
           <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
         </mat-form-field>
        <div class="mat-elevation-z8">
           <table mat-table [dataSource]="dataSource" matSort >
        
               <!-- Position Column -->
               <ng-container matColumnDef="position">
               <th mat-header-cell *matHeaderCellDef> No. </th>
               <td mat-cell *matCellDef="let element"> {{element.position}} </td>
               </ng-container>
           
               <!-- nombre Column -->
               <ng-container matColumnDef="nombre">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
               <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
               </ng-container>
           
               <!-- correo Column -->
               <ng-container matColumnDef="correo">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
               <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
               </ng-container>
           
               <!-- tipo Column -->
               <ng-container matColumnDef="tipo">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
               <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
               </ng-container>
           
               <!-- role Column -->
               <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                </ng-container>

               <!-- Idioma Column -->
               <ng-container matColumnDef="idioma">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Idioma </th>
                <td mat-cell *matCellDef="let element"> {{element.idioma}} </td>
                </ng-container>                

               <!-- acciones Column -->
               <ng-container matColumnDef="acciones">
               <th mat-header-cell *matHeaderCellDef></th>
               <td mat-cell *matCellDef="let element let i = index" style="text-align:right;">
                <!--
                     <a class="pointer" style="color:darkgreen;">
                       <mat-icon matTooltip="Edicion del Usuario" >edit</mat-icon>
                   </a>
                -->
                   <a class="pointer" (click)="eliminarUsuario(i)" style="color:red;">
                       <mat-icon matTooltip="Eliminar un Usuario">delete</mat-icon>
                   </a>
        
               </td>
               </ng-container>
        
               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           </table>
           <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    
    </div>
    <h2 *ngIf="listaUsuarios.length==0">No hay registros para mostrar</h2>
    </div>     
